<app-create-new-item-modal
  *ngIf="ismodalOpen$ | async"
  [modalName]="modalName"></app-create-new-item-modal>
<div class="board"
  *ngIf="boardInfo">
  <section class="board__main-panel">
    <form class="board__main-panel__title">
      <input class="board__main-panel__title__input" type="text"
        #boardTitle
        value="{{boardInfo.title}}"
        (focus)="makeButtonVisible()"
        (blur)="makeButtonHidden()"

        maxlength="22">
      <div class="board__main-panel__title__button-wrap">
        <button class="hidden-button"
          *ngIf="isTitleChange"
          (click)="changeTitleOnClick(boardTitle.value)">
          <img src="../../../../assets/icon/chack.png" alt="change title">
        </button>
        <button class="hidden-button"
          *ngIf="isTitleChange"
          (click)="boardTitle.value = boardInfo.title">
          <img src="../../../../assets/icon/cross.png" alt="change title">
        </button>
      </div>

    </form>
    <div class="board__main-panel__control">
      <button
        data-type="task"
        (click)="newColumnOnClick($event)">New task</button>
      <button
        data-type="column"
        (click)="newColumnOnClick($event)">New column</button>
      <button
        (click)="deleteBoardOnClikc()">DELETE</button>
    </div>
  </section>

  <section class="board__column-wrap">
    <app-column></app-column>
    <app-column></app-column>
    <app-column></app-column>
    <app-column></app-column>
  </section>

</div>
