<app-modal-window-column
  *ngIf="isNewColunmWindowOpen$ | async">
</app-modal-window-column>

<app-modal-window-task
  *ngIf="isNewTaskWindowOpen$ | async">
</app-modal-window-task>

<div class="board"
  *ngIf="boardInfo">
  <section class="board__main-panel">
    <form class="board__main-panel__title">
      <input class="board__main-panel__title__input" type="text"
        #boardTitle
        value="{{boardInfo.title}}"
        (focus)="makeButtonVisible()"
        (blur)="makeButtonHidden()"

        maxlength="22">
      <div class="board__main-panel__title__button-wrap">
        <button class="hidden-button"
          *ngIf="isTitleChange"
          (click)="changeTitleOnClick(boardTitle.value)">
          <svg
            viewBox="0 0 27 26">
            <path
              d="M2,11c4,4.33,8,8.67,12,13c3.67-7.33,7.33-14.67,11-22" />
            </svg>
          </button>
          <button class="hidden-button"
            *ngIf="isTitleChange"
            (click)="boardTitle.value= boardInfo.title; isTitleChange= false">
            <svg
              viewBox="0 0 30 30">
              <line x1="24.55" y1="5.45" x2="5.45" y2="24.55" />
                <line x1="5.45" y1="5.45" x2="24.55" y2="24.55" />
                </svg>
              </button>
            </div>

          </form>
          <div class="board__main-panel__control">
            <button
              [ngClass]="{'vusible': (columns && columns.length> 0), 'hidden':
              !(columns && columns.length > 0)}"
              data-type="task"
              (click)="newTaskOnClick()">
              {{'BOARDS.BUTTONS.NEW_TASK' | translate}}</button>
            <button
              data-type="column"
              (click)="newColumnOnClick()">{{'BOARDS.BUTTONS.NEW_COLUMN' |
              translate}}</button>
            <button
              (click)="deleteBoardOnClikc()">{{'BOARDS.BUTTONS.DELETE' |
              translate}}</button>
          </div>
        </section>

        <section class="board__column-wrap example-list"
          *ngIf="columns">
          <div class="example-list"
            cdkDropList
            (cdkDropListDropped)="drop($event)">
            <app-column
              class="example-box"
              *ngFor="let column of columns"
              [column]="column"
              cdkDrag>
            </app-column>
            </div>
          </section>

        </div>
