@import '../../../../vareable';

:host {
  max-width: 1080px;
  width: 100%;
  height: calc(100vh - 200px - 100px - 80px);
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .board {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $mainColorLight;

    &__main-panel {
      width: 100%;
      padding: 10px;
      display: flex;
      background: $mainColor;
      justify-content: space-between;

      button {
        color: #ffffff;
        border: 1px dashed #ffffff;
        height: 40px;
        padding: 0 5px;
      }

      &__title {
        width: 360px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .hidden-button {
          height: 40px;
        }

        &__input {
          width: 280px;
          background: $mainColor;
          color: #ffffff;
          font-size: 22px;
          padding: 4px;
          outline: none;
          border: none;
          box-sizing: border-box;

          &:focus {
            border-bottom: 1px solid #ffffff;
          }
        }

        &__button-wrap {
          button {


            img {
              width: 20px;
              height: 20px;

            }
          }
        }

      }

      &__control {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        button {
          margin-left: 10px;
        }
      }
    }

    &__column-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;
      padding: 10px;
      overflow: auto;
    }
  }


}
