<form class="profile-edit-form" [formGroup]="profileEditingForm" (ngSubmit)="onSubmit()">
  <h1 i18n="@@auth-form.registration" class="profile-edit-form__title">{{'AUTH.EDIT_PROFILE' | translate}}</h1>

  <div class="profile-edit-form__input-container">

    <div>
      <div class="profile-edit-form__input-container__field">
        <label i18n="@@auth-form.user-name" for="user-name">{{'AUTH.INPUTS.NEW_USER_NAME' | translate}}</label>
        <input
          i18n-placeholder="@@auth-form.user-name-placeholder"
          #inputUser
          type="text"
          class="user-name"
          placeholder="{{'AUTH.INPUTS.USER_NAME_PLACEHOLDER' | translate}}"
          name="user-name"
          formControlName="userName"
          required>
      </div>
      <div class="profile-edit-form__input-container__error">
        <ng-container
          *ngIf="userName?.invalid && userName?.touched">
          <small i18n="@@auth-form.user-name-errors-required" *ngIf="userName?.errors?.required">
            {{'AUTH.VALIDATE.USER_NAME_REQUIRED' | translate}}
          </small>

          <small i18n="@@auth-form.user-name-errors-minlength" *ngIf="userName?.errors?.minlength">
            {{'AUTH.VALIDATE.USER_NAME_MINLENGTH' | translate}} {{userName?.errors?.minlength.requiredLength}} {{'AUTH.VALIDATE.SYMBOLS' | translate}}
          </small>
        </ng-container>
      </div>

      <div class="profile-edit-form__input-container__field">
        <label i18n="@@auth-form.email" for="email">{{'AUTH.INPUTS.NEW_EMAIL' | translate}}</label>
        <input
          i18n-placeholder="@@auth-form.email-placeholder"
          #inputEmail
          type="text"
          class="email"
          placeholder="{{'AUTH.INPUTS.EMAIL_PLACEHOLDER' | translate}}"
          name="email"
          formControlName="email"
          required>

      </div>
      <div class="profile-edit-form__input-container__error">
        <ng-container
          *ngIf="email?.invalid && email?.touched">
          <small i18n="@@auth-form.email-errors-required" *ngIf="email?.errors?.required">
            {{'AUTH.VALIDATE.EMAIL_REQUIRED' | translate}}
          </small>

          <small i18n="@@auth-form.email-errors-email" *ngIf="email?.errors?.email">
            {{'AUTH.VALIDATE.EMAIL_VALID_EMAIL' | translate}}
          </small>
        </ng-container>
      </div>
    </div>

    <div>
      <div class="profile-edit-form__input-container__field">
        <label i18n="@@auth-form.password" for="password">{{'AUTH.INPUTS.NEW_PASSWORD' | translate}}</label>
        <input
          i18n-placeholder="@@auth-form.password-placeholder"
          #inputPassword
          type="password"
          class="password"
          placeholder="{{'AUTH.INPUTS.PASSWORD_PLACEHOLDER' | translate}}"
          name="password"
          formControlName="password"
          required>

      </div>
      <div class="profile-edit-form__input-container__error password-error">
        <ng-container
          *ngIf="password?.invalid && password?.touched">
          <small i18n="@@auth-form.password-errors-required" *ngIf="password?.errors?.required">
            {{'AUTH.VALIDATE.PASSWORD_REQUIRED' | translate}}
          </small>
          <small i18n="@@auth-form.password-errors-mix" *ngIf="password?.errors?.minlength
            || password?.errors?.digitValidator
            || password?.errors?.lowercaseValidator
            || password?.errors?.uppercaseValidator
            || password?.errors?.symbolsValidator">
            {{'AUTH.VALIDATE.CONTAIN' | translate}}
            <small *ngIf="password?.errors?.minlength">
              <br> - {{'AUTH.VALIDATE.AT_LEAST' | translate}} {{password?.errors?. ['minlength'].requiredLength}} {{'AUTH.VALIDATE.SYMBOLS' | translate}}.
            </small>
            <small *ngIf="password?.errors?.digitValidator">
              <br> - {{'AUTH.VALIDATE.DIGT_VALIDATE' | translate}}
            </small>
            <small *ngIf="password?.errors?.lowercaseValidator">
              <br> - {{'AUTH.VALIDATE.LOWER_CASE_VALIDATE' | translate}}
            </small>
            <small *ngIf="password?.errors?.uppercaseValidator">
              <br> - {{'AUTH.VALIDATE.UPPER_CASE_VALIDATE' | translate}}
            </small>
            <small *ngIf="password?.errors?.symbolsValidator">
              <br> - {{'AUTH.VALIDATE.SYMBOL_VALIDATE' | translate}}
            </small>
          </small>
        </ng-container>
      </div>

      <div class="profile-edit-form__input-container__field">
        <label i18n="@@auth-form.confirm-password" for="confirm-password">{{'AUTH.INPUTS.CONFIRM_NEW_PASSWORD' | translate}}</label>
        <input
          i18n-placeholder="@@auth-form.confirm-password-placeholder"
          #inputСonfirmPasswordd
          type="password"
          class="confirm-password"
          placeholder="{{'AUTH.INPUTS.CONFIRM_PASSWORD_PLACEHOLDER' | translate}}"
          name="confirm-password"
          formControlName="confirmPassword"
          required>
      </div>

      <div class="profile-edit-form__input-container__error">
        <ng-container
          *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
          <small i18n="@@auth-form.confirm-password-errors-notSame" *ngIf="confirmPassword?.errors?.notSame ||
            confirmPassword?.errors?.required">
            {{'AUTH.VALIDATE.CONFIRM_PASSWORD_REQUIRED' | translate}}
          </small>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="profile-edit-form__button-container">
    <button (click)="onDelete()" [ngClass]="{visible: true}">{{'AUTH.BUTTONS.DELETE_PROFILE' | translate}}</button>
    <button
      i18n="@@auth-form.button-registration"
      type="submit"
      [ngClass]="{visible: profileEditingForm.valid}">{{'AUTH.BUTTONS.UPDATE_PROFILE' | translate}}</button>
  </div>

</form>

