<main class="main">

  <section class="main__app-info">
    <div class="main__app-info__sticker">
      <div class="main__app-info__sticker__title">
        <img src="../../assets/icon/magnet.svg" alt="magnet">
        <h2>
          Project management app - Your Way to Success!!!
        </h2>
      </div>

      <section class="main__app-info__sticker__text">
        <h3>
          Our advantages
        </h3>
        <ul
          *ngFor="let item of ['Эффективное управление проектом с помощью визуализации и потока задач', 'Прозрачный рабочий процесс с возможностью отслеживания изменений в реальном времени', 'Легкость внедрения, оптимизация рабочего времени и затрат']">
          <li>
            <img src="../../assets/icon/chack.svg" alt="chack icon">
            <p>{{item}}</p>
          </li>
        </ul>
      </section>
    </div>

  </section>

  <section class="main__team-info">
    <app-team-info></app-team-info>
  </section>

</main>
