@import '../../vareable';

:host {
  max-width: 1080px;
  width: 100%;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: $mainColorLight;

  @media (max-width: 641px) {
    margin-top: 0px;
    transition: .3s;
    height: 70vh;
  }
}

.project-management__header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 641px) {
    flex-direction: column;
    height: 115px;
  }

  &__title {
    width: 320px;
  }


}

.project-management__wrapper {
  width: 100%;
  height: calc(100vh - 200px - 100px - 50px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  overflow: auto;
}
