@import '../../vareable';

:host {
  max-width: 1080px;
  width: 100%;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
 background: $mainColorLight;;
}

.project-management__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  overflow: auto;
}

