<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="form_title">Login</h2>

  <div class="form_container">
    <div class="form_container_control">
      <label for="email">Email</label>
      <input
        #inputEmail
        type="text"
        class="email"
        placeholder="Enter Email"
        name="email"
        formControlName="email"
        required>

      <div *ngIf="email?.invalid && email?.touched" class="validation">
        <small *ngIf="email?.errors?.required">
          Please enter a login email
        </small>

        <small *ngIf="email?.errors?.email">
          The login email is invalid
        </small>
      </div>
    </div>

    <div class="form_container_control">
      <label for="password">Password</label>
      <input
        #inputPassword
        type="password"
        class="password"
        placeholder="Enter Password"
        name="password"
        formControlName="password"
        required
        (input)="passInput(inputPassword.value)">
    </div>

    <div
      *ngIf="password?.invalid && password?.touched"
      class="validation">
      <small *ngIf="password?.errors?.required">
        Please enter a password
      </small>
      <small *ngIf="password?.errors?.minlength
        || password?.errors?.digitValidato
        || password?.errors?.lowercaseValidator
        || password?.errors?.uppercaseValidator
        || password?.errors?.symbolsValidator">
        The password must contain:
        <small *ngIf="password?.errors?.minlength">
          <br> - at least {{password?.errors?.['minlength'].requiredLength}}.
        </small>
        <small *ngIf="password?.errors?.digitValidator">
          <br> - at least one number
        </small>
        <small *ngIf="password?.errors?.lowercaseValidator">
          <br> - at least one uppercase letter
        </small>
        <small *ngIf="password?.errors?.uppercaseValidator">
          <br> - at least one capital letter
        </small>
        <small *ngIf="password?.errors?.symbolsValidator">
          <br> - at least one special character
        </small>
      </small>
    </div>
  </div>

  <div class="button-container">
    <button type="button" class="registration-link"
      (click)="goToRegistrationPage()">Registration</button>
    <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
