<header class="header">
  <div class="header__wrap">
    <section class="header__wrap__section-logo">
      <div class="header__wrap__section-logo__logo">
        <img
          src="../../../../assets/header/logo.png"
          alt="logo"
          [routerLink]="['/welcome']">
        <p class="header__wrap__section-logo__logo__text">
          {{'HEADER.YOUR_WAY' | translate}} <br>
          {{'HEADER.TO_SUCCESS' | translate}}
        </p>
      </div>

    </section>

    <section
      [ngClass]="{'header__wrap__section-auth-leng-lnfo': true,
      'header-languages': isAuth}">
      <div class="header__wrap__section-auth-leng-lnfo__auth">
        <ng-container
          *ngIf="!isAuth">
          <div
            class="header__wrap__section-auth-leng-lnfo__auth__login"
            [routerLink]="['/auth/login']">
            <a>{{'HEADER.LOGIN' | translate}}</a>
          </div>
          <div
            class="header__wrap__section-auth-leng-lnfo__auth__registration"
            routerLink="/auth/registration">
            <a>{{'HEADER.REGISTRATION' | translate}}</a>
          </div>
        </ng-container>

        <ng-container
          *ngIf="isAuth">
          <div class="header__wrap__section-auth-leng-lnfo__auth__user-info">
            <p>{{userName}}</p>
            <img src="../../../../assets/header/user-icon.svg" alt="user icon">
          </div>

          <div
            class="header__wrap__section-auth-leng-lnfo__auth__logout"
            [routerLink]="['/info']"
            (click)="logOutOnClick()">
            <a>{{'HEADER.LOGOUT' | translate}}</a>
          </div>

        </ng-container>
      </div>

      <div class="header__wrap__section-auth-leng-lnfo__languages">
        <div (click)="translateLanguageTo('en')"
        [ngClass]="{'header__wrap__section-auth-leng-lnfo__languages__contaner' : true,
          'active': isActiveLanguageEn, 'active-not': !isActiveLanguageEn}">
          <p>En</p>
        </div>

        <div (click)="translateLanguageTo('ru')"
        [ngClass]="{'header__wrap__section-auth-leng-lnfo__languages__contaner' : true,
          'active': isActiveLanguageRu, 'active-not': !isActiveLanguageRu}">
          <p>Ru</p>
        </div>
      </div>

    </section>

    <section
      *ngIf="isAuth"
      [ngClass]="{'header__wrap__section-nav': isAuth}">
      <nav class="header__wrap__section-nav__nav-wrap">
        <ul class="header__wrap__section-nav__nav-wrap__list">
          <li
          [routerLink]="['/welcome']"
          >{{'HEADER.NAV.WELCOME' | translate}}</li>
          <li
          [routerLink]="['/main']" (click)="getAllBoards()"
            >{{'HEADER.NAV.BOARDS' | translate}}</li>
          <li
          [routerLink]="['/main/board']"
          >{{'HEADER.NAV.CREATE_BOARD' | translate}}</li>
          <li>{{'HEADER.NAV.EDIT_PROFILE' | translate}}</li>
        </ul>
      </nav>
    </section>

  </div>

</header>
