<header class="header">
  <div class="header__wrap">
    <section class="header__wrap__section">
      <div class="header__wrap__section__logo">
        <img
          src="../../../../assets/header/logo.png"
          alt="logo"
          [routerLink]="['/']">
        <p class="header__wrap__section__logo__text">
          Your Way <br>
          to Success
        </p>
      </div>

    </section>

    <section
    *ngIf="isAuth"
    [ngClass]="{'header__wrap__section': true, 'header__wrap__section__nav': isAuth}">

    </section>

    <section
    [ngClass]="{'header__wrap__section': true, 'header-languages': isAuth}">
      <div class="header__wrap__section__auth"
      *ngIf="!isAuth"
      >
        <div>
          <a
            class="header__wrap__section__auth__login"
            [routerLink]="['/auth/login']">Login</a>
        </div>
        <div>
          <a
            class="header__wrap__section__auth__registration"
            routerLink="/auth/registration">Registration</a>
        </div>

      </div>

      <div class="header__wrap__section__languages">
        <div class="header__wrap__section__languages__contaner active">
          <p>En</p>
        </div>

        <div class="header__wrap__section__languages__contaner active-not">
          <p>Ru</p>
        </div>
      </div>

    </section>

  </div>

</header>
