<div class="board-title-wrap">
  <ng-container *ngIf="!errorMessage.isError">
    <h2>Board Title</h2>
    <input type="text" autofocus #bordTitleInput>
    <div class="board-title-wrap__button-wrap">
      <button
        (click)="createBoard(bordTitleInput.value)">Create</button>
      <button
        [routerLink]="['/main']">to main</button>
    </div>

  </ng-container>
  <ng-container *ngIf="errorMessage.isError">
    <h2>Error</h2>
    <p>{{errorMessage.errorMessage}}</p>
    <div class="board-title-wrap__button-wrap">
      <button
        (click)="closeError()">close</button>
    </div>
  </ng-container>

</div>
