<form class="new-task"
  (submit)="sunmit()"
  [formGroup]="newTaskForm">
  <div class="new-task__form">
    <label for="taskTitle">{{'BOARDS.TASK_TITLE' | translate}}:</label>
    <input type="text"
      id="taskTitle"
      formControlName="title"
      maxlength="31">
    <div class="new-task__form__error">
      <ng-container
        *ngIf="title.invalid && title.touched || title.dirty">
        <p
          *ngIf="title.errors?.['required']">
          {{'BOARDS.VALIDATE.TITLE_REQUIRED' | translate}}
        </p>
        <p
          *ngIf="title.errors?.['maxlength']">
          {{'BOARDS.VALIDATE.MAXLENGTH' | translate}} 30 {{'BOARDS.VALIDATE.SYMBOLS' | translate}}
        </p>
      </ng-container>
    </div>

    <label for="TaskDescription">{{'BOARDS.TASK_DESCRIPTION' | translate}}:</label>
    <textarea type="text"
      id="taskDescription"
      formControlName="description"
      maxlength="151"></textarea>
    <div class="new-task__form__error">
      <ng-container
        *ngIf="description.invalid && description.touched || description.dirty">
        <p
          *ngIf="description.errors?.['required']">
          {{'BOARDS.VALIDATE.DISCRIPTION_REQUIRED' | translate}}
        </p>
        <p
          *ngIf="description.errors?.['maxlength']">
          {{'BOARDS.VALIDATE.MAXLENGTH' | translate}} 150 {{'BOARDS.VALIDATE.SYMBOLS' | translate}}
        </p>
      </ng-container>
    </div>

    <div class="new-task__form__progress">
      <label>{{'BOARDS.DONE' | translate}}</label>
      <input class="new-task__form__progress__check"
        type="checkbox"
        formControlName="doneCheck" />
    </div>
    <ng-container
      *ngIf="!task">
      <label>{{'BOARDS.SELECT_COLUMN' | translate}}</label>
      <select
        formControlName="selectColumn"
        *ngIf="boardInfo.columns">
        <option
          *ngFor="let column of boardInfo.columns; let i= index"
          [selected]="i === 0"
          [ngValue]="column">{{column.title}}</option>
      </select>
    </ng-container>
  </div>

  <div class="new-task__button-wrap">
    <ng-container
      *ngIf="!task">
      <button
        type="submit"
        [ngClass]="{'blocked': newTaskForm.invalid}">
        {{'BOARDS.BUTTONS.CREATE'
        | translate}}
      </button>
    </ng-container>
    <ng-container
      *ngIf="task">
      <button
        type="Edit"
        [ngClass]="{'blocked': newTaskForm.invalid}">
        Edit
      </button>
    </ng-container>
    <button
      (click)="closeModalWindow()">
      {{'BOARDS.BUTTONS.CANCEL' | translate}}</button>
  </div>

</form>
