<app-pop-up-auth-error
[(visible)]="visibleError"
[errorMessage]="errorMessage"
*ngIf="visibleError"
></app-pop-up-auth-error>
<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="auth-form__title">Registration</h2>

  <div class="auth-form__input-container">

    <div class="auth-form__input-container__field">
      <label for="user-name">User Name</label>
      <input
        #inputUser
        type="text"
        class="user-name"
        placeholder="Enter User Name"
        name="user-name"
        formControlName="userName"
        required>
    </div>
    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="userName?.invalid && userName?.touched">
        <small *ngIf="userName?.errors?.required">
          Please enter a user-name
        </small>

        <small *ngIf="userName?.errors?.minlength">
          length must be at least {{userName?.errors?.minlength.requiredLength}}
        </small>
      </ng-container>
    </div>

    <div class="auth-form__input-container__field">
      <label for="email">Email</label>
      <input
        #inputEmail
        type="text"
        class="email"
        placeholder="Enter Email"
        name="email"
        formControlName="email"
        required>

    </div>
    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.required">
          Please enter a login email
        </small>

        <small *ngIf="email?.errors?.email">
          The login email is invalid
        </small>
      </ng-container>
    </div>

    <div class="auth-form__input-container__field">
      <label for="password">Password</label>
      <input
        #inputPassword
        type="password"
        class="password"
        placeholder="Enter Password"
        name="password"
        formControlName="password"
        required>

    </div>
    <div class="auth-form__input-container__error password-error">
      <ng-container
        *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.required">
          Please enter a password
        </small>
        <small *ngIf="password?.errors?.minlength
          || password?.errors?.digitValidator
          || password?.errors?.lowercaseValidator
          || password?.errors?.uppercaseValidator
          || password?.errors?.symbolsValidator">
          The password must contain:
          <small *ngIf="password?.errors?.minlength">
            <br> - at least {{password?.errors?. ['minlength'].requiredLength}}.
          </small>
          <small *ngIf="password?.errors?.digitValidator">
            <br> - at least one number
          </small>
          <small *ngIf="password?.errors?. lowercaseValidator">
            <br> - at least one uppercase letter
          </small>
          <small *ngIf="password?.errors?. uppercaseValidator">
            <br> - at least one capital letter
          </small>
          <small *ngIf="password?.errors?.symbolsValidator">
            <br> - at least one special character
          </small>
        </small>
      </ng-container>
    </div>

    <div class="auth-form__input-container__field">
      <label for="confirm-password">Сonfirm password</label>
      <input
        #inputСonfirmPasswordd
        type="password"
        class="confirm-password"
        placeholder="Сonfirm password"
        name="confirm-password"
        formControlName="confirmPassword"
        required>
    </div>

    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
        <small *ngIf="confirmPassword?.errors?.notSame ||
          confirmPassword?.errors?.required">
          Please repeat a password
        </small>
      </ng-container>
    </div>

  </div>

  <div class="auth-form__button-container">
    <a
      routerLink="/auth/login">
      Login
    </a>
    <button
      type="submit"
      [ngClass]="{visible: loginForm.valid}">Registration</button>
  </div>

</form>
