<app-pop-up-auth-error></app-pop-up-auth-error>
<form class="auth-form login-form"
[formGroup]="loginForm"
(ngSubmit)="onSubmit()">
  <h2 class="auth-form__title">Login</h2>

  <div class="auth-form__input-container">
    <div class="auth-form__input-container__field">
      <label for="email">Email</label>
      <input
        #inputEmail
        type="text"
        class="email"
        placeholder="Enter Email"
        name="email"
        formControlName="email"
        required>
    </div>

    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.required">
          Please enter a login email
        </small>

        <small *ngIf="email?.errors?.email">
          The login email is invalid
        </small>
      </ng-container>
    </div>

    <div class="auth-form__input-container__field">
      <label for="password">Password</label>
      <input
        #inputPassword
        type="password"
        class="password"
        placeholder="Enter Password"
        name="password"
        formControlName="password"
        required>
    </div>

    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.required">
          Please enter a password
        </small>
      </ng-container>
    </div>
  </div>

  <div class="auth-form__button-container">
    <a
      routerLink="/auth/registration">
      Registration</a>
    <button
    [ngClass]="{visible: loginForm.valid}"
    type="submit">Login</button>
  </div>
</form>
