<app-pop-up-auth-error
[(visible)]="visibleError"
[errorMessage]="errorMessage"
*ngIf="visibleError">
</app-pop-up-auth-error>
<form class="auth-form login-form"
[formGroup]="loginForm"
(ngSubmit)="onSubmit()">
  <h2 i18n="@@auth-form.login" class="auth-form__title">{{'AUTH.LOGIN_TITLE' | translate}}</h2>

  <div class="auth-form__input-container">
    <div class="auth-form__input-container__field">
      <label i18n="@@auth-form.email" for="email">{{'AUTH.INPUTS.EMAIL' | translate}}</label>
      <input
        i18n-placeholder="@@auth-form.email-placeholder"
        #inputEmail
        type="text"
        class="email"
        placeholder="{{'AUTH.INPUTS.EMAIL_PLACEHOLDER' | translate}}"
        name="email"
        formControlName="email"
        required>
    </div>

    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="email?.invalid && email?.touched">
        <small i18n="@@auth-form.email-errors-required" *ngIf="email?.errors?.required">
          {{'AUTH.VALIDATE.EMAIL_REQUIRED' | translate}}
        </small>

        <small i18n="@@auth-form.email-errors-email" *ngIf="email?.errors?.email">
          {{'AUTH.VALIDATE.EMAIL_VALID_EMAIL' | translate}}
        </small>
      </ng-container>
    </div>

    <div class="auth-form__input-container__field">
      <label i18n="@@auth-form.password" for="password">{{'AUTH.INPUTS.PASSWORD' | translate}}</label>
      <input
        i18n-placeholder="@@auth-form.password-placeholder"
        #inputPassword
        type="password"
        class="password"
        placeholder="{{'AUTH.INPUTS.PASSWORD_PLACEHOLDER' | translate}}"
        name="password"
        formControlName="password"
        required>
    </div>

    <div class="auth-form__input-container__error">
      <ng-container
        *ngIf="password?.invalid && password?.touched">
        <small i18n="@@auth-form.password-errors-required" *ngIf="password?.errors?.required">
          {{'AUTH.VALIDATE.PASSWORD_REQUIRED' | translate}}
        </small>
      </ng-container>
    </div>
  </div>

  <div class="auth-form__button-container">
    <a
      i18n="@@auth-form.link-registration"
      routerLink="/auth/registration">
      {{'AUTH.BUTTONS.REGISTRATION' | translate}}</a>
    <button
    i18n="@@auth-form.button-login"
    [ngClass]="{visible: loginForm.valid}"
    type="submit">{{'AUTH.BUTTONS.LOGIN' | translate}}</button>
  </div>
</form>
