<app-modal-window-task
  *ngIf="isEditTaskWindowOpen$ | async">
</app-modal-window-task>

<section class="task"
  *ngIf="task"
  >

  <div class="task__top">
      <p>
    {{'BOARDS.TASK' | translate}}
    {{task.order}}</p>
    <ng-container
      *ngIf="!task.done">
      <div class="task__top__imcomplete-not">
      </div>
    </ng-container>
    <ng-container
      *ngIf="task.done">
      <div class="task__top__imcomplete">
        <p>Done</p>
      </div>
    </ng-container>

    <div
      class="task__top__close"
      (click)="deleteTask()"
      #closeTask>
      <svg
        viewBox="0 0 30 30">
        <line x1="24.55" y1="5.45" x2="5.45" y2="24.55" />
          <line x1="5.45" y1="5.45" x2="24.55" y2="24.55" />
          </svg>
        </div>
      </div>

      <section class="task__body"
        (click)="editTask()">
        <div class="task__body__title">
          <h4>{{task.title}}</h4>
        </div>

        <div class="task__body__description">
          <p>{{task.description}}</p>
        </div>
        <div class="task__body__user-name">
          <p>
            {{userName$ | async}}
          </p>
        </div>
      </section>
    </section>
