<footer class="footer">
  <div class="footer__wrap">

    <section class="footer__wrap__section">
      <div class="footer__wrap__section__authors">
        <div class="footer__wrap__section__authors__container">
          <div class="footer__wrap__section__authors__container__logo">
            <img src="../../../../../assets/footer/github_b.svg" alt="logo-github">
          </div>
          <a href="https://github.com/MaryAnzh"><p>Maria</p></a>
        </div>
        <div class="footer__wrap__section__authors__container">
          <div class="footer__wrap__section__authors__container">
            <div class="footer__wrap__section__authors__container__logo">
              <img src="../../../../../assets/footer/github_b.svg" alt="logo-github">
            </div>
            <a href="https://github.com/Mowgle88"><p>Dmitry</p></a>
          </div>
        </div>
        <div class="footer__wrap__section__authors__container">
          <div class="footer__wrap__section__authors__container">
            <div class="footer__wrap__section__authors__container__logo">
              <img src="../../../../../assets/footer/github_b.svg" alt="logo-github">
            </div>
            <a href="https://github.com/margoroma"><p>Margarita</p></a>
          </div>
        </div>
      </div>
    </section>

    <section class="footer__wrap__section">
      <div class="footer__wrap__section__year">
        <p>2022</p>
      </div>
    </section>

    <section class="footer__wrap__section">
      <a href="https://app.rs.school">
        <div class="footer__wrap__section__school">
          <img src="../../../../../assets/footer/rss_b.svg" alt="logo-rss">
        </div>
      </a>
    </section>
  </div>
</footer>
