@import url(reset.scss);
$mainColorDark: #2A4480;
$mainColorLight: #DEF5F5;
$mainColor: hsl(222, 63%, 55%);
$additionalColor: #2eb1b1;
$additionalColorLight: #8ddada;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto';
  font-weight: 300;
  color: $mainColorDark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $mainColor;
}

h1 {
  font-size: 46px;
  font-weight: 200;
}

h2 {
    font-size: 40px;
    font-weight: 200;
}

form {
  border-radius: 10px;
}

button {
  border-radius: 5px;
  border: none;
  background: $mainColor;
  color: #ffffff;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: $additionalColor;
  }

  &:active {
    background: $additionalColorLight;
  }

}
