<div class="search">
  <div class="search__filter">
    <p>{{'SEARCH.SEARCH_FOR' | translate}}</p>
    <select name="tasks" id="tasks-search">
      <option value="number">{{'SEARCH.NUMBER' | translate}}</option>
      <option value="name">{{'SEARCH.TITLE' | translate}}</option>
      <option value="user">{{'SEARCH.USER' | translate}}</option>
      <option value="text">{{'SEARCH.DISCRIPTION' | translate}}</option>
    </select>
  </div>
  <div class="search__search-wrap">
    <input type="text" />
    <button>
      <svg
        viewBox="0 0 64 64">
        <path class="st0"
          d="M62,54.5L46.9,41.6c-1.2-1.2-2.9-1.9-4.6-2c8.6-10.1,7.4-25.2-2.7-33.8S14.3-1.7,5.7,8.4s-7.4,25.2,2.7,33.8
          c9,7.7,22.2,7.7,31.1,0c0.1,1.7,0.8,3.4,2,4.6L54.5,62c1.8,2.4,5.2,2.8,7.5,1c2.4-1.8,2.8-5.2,1-7.5C62.7,55.1,62.4,54.8,62,54.5z
          M24,40c-8.8,0-16-7.2-16-16S15.2,8,24,8s16,7.2,16,16S32.8,40,24,40z" />
        </svg>
      </button>
    </div>
  </div>
